# To run openai, this key will have to be set in the environment.
# You can copy this file to a .env file and set the value there or set it directly in your environment.
OPENAI_API_KEY="example_key_1234567890abcdefg"