# Virtual environments
.venv/
venv/

# Data (raw + processed)
/Data

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Build / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS / editor noise
.DS_Store